<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CRM2016.SDK.ExternalComponents" version="1.0.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net461" />
  <package id="XmsbsDynamics365SDK" version="1.0.1" targetFramework="net461" />
</packages>